<div class="h-full w-full flex items-center justify-center">
    <div
        class="bg-black h-[560px] w-[560px] relative grid grid-cols-8"
        [class.cursor-grabbing]="dragDropservice.draggedItem != null"
    >
        @for (box of board.boxes; track box) {
            <app-box
                class="h-[70px] w-[70px]"
                [board]="board"
                [image]="box.piece?.getImagePath()"
                [showHints]="board.hints.includes($index)"
                [index]="$index"
                [ngClass]="$index | calculateBg"
                [turn]="board.turn"
                [selectedPiece]="board.getSelectedPiece()"
                (itemDropped)="handleItemDropped($event)"
            >
            </app-box>
        }
    </div>
</div>
